form textarea,
form input,
form select{padding:6px;font: normal 13px "Century Gothic", arial, sans-serif;border:1px solid #ccc; /* #fff */border-bottom:1px solid #ccc;resize:none;background-color:#fafafa;}
	form textarea:focus,
	form input:focus,
	form select:focus{background-color:#fdfdfd;}
	/* Sizes -------- */
	form input.small{width:40px;}
	form input.medium{width:200px;}
	form input.big{width:300px;}
.globalForms{}
.globalForms.inLine{display:inline-block;}
	.globalForms div.textInput,
	.globalForms div.radio{margin:0 0 5px;}
		.globalForms div.textInput label.keyWord,
		.globalForms div.radio label.keyWord{display:inline-block;width:140px;margin:0 5px 0;padding:6px 0;text-align:right;}
		.globalForms div.textInput div.input,
		.globalForms div.radio div.input{display:inline-block;}
		.globalForms div.textInput div.info,
		.globalForms div.radio div.info,
		.globalForms div.select div.info{margin:0 0 10px 154px;color:#666;font-size:12px;}
	/* Textarea ---------- */
	.globalForms div.textBoxInput{margin:0 0 5px;}
		.globalForms div.textBoxInput label.keyWord{width:140px;display:inline-block;margin:0 0 3px;}
		.globalForms div.textBoxInput div.text{display:block;}
			.globalForms div.textBoxInput div.text textarea{width:857px;}
	/* Separator ---------- */
	.globalForms div.separator{height:1px; margin:15px 0;}
		.globalForms div.separator.dashed{border-bottom:1px dashed #cecece;}
	/* Select ---------- */
	.globalForms div.select{margin:0 0 5px;}
		.globalForms div.select label.keyWord{display:inline-block;float:left;width:140px;margin:0 7px 0;padding:6px 0;text-align:right;}
		.globalForms div.select div.input{display:inline-block;}
			.globalForms select{width:214px; }
	.globalForms div.buttons{margin:0 0 0 153px;}
	.globalForms.noPadding div.buttons{margin:5px 0 0 0;padding:10px 0 0 0;border-top:1px solid #f2f2f2;}
	.globalForms div.validating{margin:0 0 20px 170px;color:#e80000;}
button.button{color:#000;cursor: pointer;font: bold 12px arial, sans-serif;line-height:20px;font-size:12px;letter-spacing:.5px;border:0;background-color:#e2e2e2;padding:6px 18px;border-radius:2px;-moz-border-radius:2px;-wekit-border-radius:2px;}
    /* Hovers ---------- */
    .button:hover{background-color:#dadada;}
    .green.button:hover{background-color:#5aac1e;}
    .red.button:hover{background-color:#e3151b;}
    /* Sizes ---------- */
    .small.button{padding:1.5px 3px; font-size:10px;}
    /* Colors ---------- */
    .white.button{background-color:#fff;padding:0;}
    .green.button{background-color:#63bd20; color:#fff;}
    .red.button{background-color:#ed4145; color:#fff;}
    