table.globalTables{width:100%; position:relative;}
    table.globalTables thead tr th{padding:0 0 5px;font-weight:normal;text-transform:uppercase;font-size:11px;border-bottom:2px solid #ccc;}
    table.globalTables tbody tr{}
        table.globalTables tbody tr:hover{background-color:#f5f5f5;}
        table.globalTables.noHover tbody tr:hover{background-color:#fff;}
        table.globalTables tbody tr td{text-align:center;padding:5px 0;line-height:18px;}
        table.globalTables.leftAlign tbody tr td{text-align:left;}
            /* Types ----- */
            table.globalTables tbody tr td.comment div{position:relative;overflow:visible;}
                table.globalTables tbody tr td.comment div span.comment{max-height:200px;overflow:hidden;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;box-shadow:0 0 3px #666;-moz-box-shadow:0 0 3px #666;-webkit-box-shadow:0 0 3px #666;padding:8px;display:none;z-index:1000;text-align:left;position:absolute;width:200px;color:#000;top:20px;right:5px;background-color:#fff;}
                    table.globalTables tbody tr td.comment:hover div span.comment{display:block;}
            table.globalTables tbody tr td a.thumbnail{position:relative;}
                table.globalTables tbody tr td a.thumbnail span.imgB{background-color:#fff;padding:15px;line-height:0;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;box-shadow:0 0 3px #666;-moz-box-shadow:0 0 3px #666;-webkit-box-shadow:0 0 3px #666;position:absolute;left:32px;bottom:-20px;visibility: hidden;z-index:1;}
                    table.globalTables tbody tr td a.thumbnail span.imgB img{max-width:260px;}
                    table.globalTables tbody tr td a.thumbnail:hover span.imgB{visibility: visible;}
            table.globalTables tbody tr td.edit{padding-left:3px;}
                table.globalTables tbody tr td.edit a{visibility:hidden;}
                    table.globalTables tbody tr:hover td.edit a{visibility:visible;}