.icon{border:none;text-indent:-9999px;display:inline-block;background-image:url("../img/ecdbSpriteV1.png");background-repeat:no-repeat;}
	/* Sizes ---------- */
	.medium.icon{width:16px; height:16px; margin:0 0 -3px;}
	/* Icons ---------- */
	.checkboxChecked.medium{background-position:0 -88px;}
	.checkboxUnchecked.medium{background-position:-16px -88px;}
	.checkmark.medium{background-position:-32px -88px;}
	.document.medium{background-position:-48px -88px;}
	.key.medium{background-position:-64px -88px;}
	.pencil.medium{background-position:-80px -88px;}
	.picture.medium{background-position:-96px -88px;}
	.print.medium{background-position:-112px -88px;}
	.roundMinus.medium{background-position:-128px -88px;}
	.roundPlus.medium{background-position:-144px -88px;}
	.save.medium{background-position:-160px -88px;}
	.spechBubble.medium{background-position:-176px -88px;}
	.spechBubbleSq.medium{background-position:-192px -88px;}
	.trash.medium{background-position:-208px -88px;}
	.sqPlus.medium{background-position:-224px -88px;}
	.documentLines.medium{background-position:0 -104px;}
.blIcon{background:url("../img/ecdbSpriteV1.png") no-repeat 0 -168px;width:77px;height:25px;display:inline-block;border:none;margin-bottom:-8px;}
.packageImage{position:absolute;top:155px;right:125px;}