div#menu{width:870px;padding:0 15px 0 15px;margin:auto;}
	div#menu ul{list-style:none;}
		div#menu ul li{list-style:none;display:inline-block;}
			div#menu ul li a{display:inline-block;color:#2d2d2d;font-size:12px;text-decoration:none;padding:7px 15px 7px 15px;background-color:#f8f8f8;border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;-webkit-border-top-left-radius:4px;-webkit-border-top-right-radius:4px;}
				div#menu ul li a:hover{background-color:#e6e6e6;}
				div#menu ul li a.selected{background-color:#fff;cursor:default;}
			div#menu ul li.public a{display:inline-block;color:#707070;font-size:12px;text-decoration:none;padding:7px 15px 7px 15px;background-color:#d7eaff;border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;-webkit-border-top-left-radius:4px;-webkit-border-top-right-radius:4px;}
				div#menu ul li.public a:hover{background-color:#e6e6e6;}
				div#menu ul li.public a.selected{background-color:#fff;cursor:default;color:#000;}
div.subMenu{text-align: center;}
	div.subMenu ul{list-style:none;margin:0;padding:0 0 10px 0;border-bottom:1px dashed #f2f2f2;}
		div.subMenu ul li{list-style:none;display:inline-block;margin-bottom: 5px;}
			div.subMenu ul li a{display:inline-block;font-size:13px;padding:4px 10px 4px 10px;background-color:#63bd20;color:#fff;margin:0;text-decoration:none;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;}
				div.subMenu ul li a.selected{background-color:#4a8d18;}
				div.subMenu ul li a:hover{background-color:#4a8d18;}
div.subSubMenu{}
	div.subSubMenu ul{list-style:none;margin:0;padding:6px 0 7px 0;border-bottom:1px dashed #f2f2f2;text-align: center;}
		div.subSubMenu ul li{list-style:none;display:inline-block;margin-bottom: 8px;margin-top: 8px;}
			div.subSubMenu ul li a{display:inline-block;font-size:13px;padding:4px 10px 4px 10px;background-color:#f2f2f2;color:#000;margin:0;text-decoration:none;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;}
				div.subSubMenu ul li a.selected{background-color:#E0E0E0;}
				div.subSubMenu ul li a:hover{background-color:#E0E0E0;}