/*
    Created: 2011-09-03
    Last edit: 2013-02-03
	by Adis Kurtalic
*/
form textarea,
form input,
form select{border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;padding:6px;font: normal 13px "Century Gothic", arial, sans-serif;border:1px solid #ccc; /* #fff */border-bottom:1px solid #ccc;resize:none;background-color:#fafafa;}
	form textarea:focus,
	form input:focus,
	form select:focus{background-color:#fdfdfd;}
	/* Sizes -------- */
	form input.small{width:40px;}
	form input.medium{width:200px;}
	form input.big{width:300px;}
.globalForms{}
.globalForms.inLine{display:inline-block;}
	.globalForms div.textInput,
	.globalForms div.radio{margin:0 0 5px;}
		.globalForms div.textInput label.keyWord,
		.globalForms div.radio label.keyWord{display:inline-block;width:140px;margin:0 5px 0;padding:6px 0;text-align:right;}
		.globalForms div.textInput div.input,
		.globalForms div.radio div.input{display:inline-block;}
		.globalForms div.textInput div.info,
		.globalForms div.radio div.info,
		.globalForms div.select div.info{margin:0 0 10px 154px;color:#666;font-size:12px;}
	/* Textarea ---------- */
	.globalForms div.textBoxInput{margin:0 0 5px;}
		.globalForms div.textBoxInput label.keyWord{width:140px;display:inline-block;margin:0 0 3px;}
		.globalForms div.textBoxInput div.text{display:block;}
			.globalForms div.textBoxInput div.text textarea{width:857px;}
	/* Separator ---------- */
	.globalForms div.separator{height:1px; margin:15px 0;}
		.globalForms div.separator.dashed{border-bottom:1px dashed #cecece;}
	/* Select ---------- */
	.globalForms div.select{margin:0 0 5px;}
		.globalForms div.select label.keyWord{display:inline-block;float:left;width:140px;margin:0 7px 0;padding:6px 0;text-align:right;}
		.globalForms div.select div.input{display:inline-block;}
			.globalForms select{width:214px; }
	.globalForms div.buttons{margin:0 0 0 153px;}
	.globalForms.noPadding div.buttons{margin:5px 0 0 0;padding:10px 0 0 0;border-top:1px solid #f2f2f2;}
	.globalForms div.validating{margin:0 0 20px 170px;color:#e80000;}
button.button{color:#000;cursor: pointer;font: bold 12px arial, sans-serif;line-height:20px;font-size:12px;letter-spacing:.5px;border:0;background-color:#e2e2e2;padding:6px 18px;border-radius:2px;-moz-border-radius:2px;-wekit-border-radius:2px;}
    /* Hovers ---------- */
    .button:hover{background-color:#dadada;}
    .green.button:hover{background-color:#5aac1e;}
    .red.button:hover{background-color:#e3151b;}
    /* Sizes ---------- */
    .small.button{padding:1.5px 3px; font-size:10px;}
    /* Colors ---------- */
    .white.button{background-color:#fff;padding:0;}
    .green.button{background-color:#63bd20; color:#fff;}
    .red.button{background-color:#ed4145; color:#fff;}
table.globalTables{width:100%; position:relative;}
    table.globalTables thead tr th{padding:0 0 5px;font-weight:bold;text-transform:uppercase;font-size:11px;border-bottom:2px solid #ccc;}
	table.globalTables thead tr th:nth-child(2){text-align:left;}
        table.globalTables tbody tr:hover{background-color:#f5f5f5;}
        table.globalTables.noHover tbody tr:hover{background-color:#fff;}
        table.globalTables tbody tr td{text-align:center;padding:5px 0;line-height:18px;}
		table.globalTables tbody tr td:nth-child(2){text-align:left;}
        table.globalTables.leftAlign tbody tr td{text-align:left;}
            /* Types ----- */
            table.globalTables tbody tr td.comment div{position:relative;overflow:visible;}
                table.globalTables tbody tr td.comment div span.comment{border:5px solid #fff;margin:0 65px 0 0;max-height:210px;overflow-y:auto;overflow-x:hidden;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;box-shadow:0 0 5px #494949;-moz-box-shadow:0 0 5px #494949;-webkit-box-shadow:0 0 5px #494949;padding:8px;display:none;z-index:1000;text-align:left;position:absolute;width:250px;color:#000;bottom:5px;right:0px;background-color:#fff;}
                    table.globalTables tbody tr td.comment:hover div span.comment{display:block;}
            table.globalTables tbody tr td a.thumbnail{position:relative;}
                table.globalTables tbody tr td a.thumbnail span.imgB{background-color:#fff;padding:15px;line-height:0;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;box-shadow:0 0 3px #666;-moz-box-shadow:0 0 3px #666;-webkit-box-shadow:0 0 3px #666;position:absolute;left:32px;bottom:-20px;visibility: hidden;z-index:1;}
                    table.globalTables tbody tr td a.thumbnail span.imgB img{max-width:260px;}
                    table.globalTables tbody tr td a.thumbnail:hover span.imgB{visibility: visible;}
            table.globalTables tbody tr td.edit{padding-left:3px;}
                table.globalTables tbody tr td.edit a{visibility:hidden;}
                    table.globalTables tbody tr:hover td.edit a{visibility:visible;}
div#header{width:900px;margin:0 auto 15px auto;height:100px;position:relative;}
	div#header span.userInfo{color:#666;font-size:12px;text-shadow:0 1px 0 #fff;position:absolute;top:0px;right:0;}
		div#header span.userInfo a{color:#000;text-decoration:none;}
	div#header div.searchContent{position:absolute;font-size:12px;top:55px;right:0;color:#666;padding:3px;width:230px;background-color:#fff;border-bottom:2px solid #ccc;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;}
		div#header div.searchContent form.search input{border:1px solid #fff !important;font: normal 14px "Century Gothic", arial, sans-serif;background:url("../img/ecdbSpriteV1.png") 209px -140px no-repeat #fff;box-shadow:none;padding:5px 15px 5px 5px;width:200px;}
div.logoWrapper{position:absolute;top:10px;left:0;}
	div.logoWrapper a span.logoImage{display:block;width:169px;height:73px;background:url("../img/ecdbSpriteV1.png") no-repeat 0 -5px;}
.icon{border:none;text-indent:-9999px;display:inline-block;background-image:url("../img/ecdbSpriteV1.png");background-repeat:no-repeat;}
	/* Sizes ---------- */
	.medium.icon{width:16px; height:16px; margin:0 0 -3px;}
	/* Icons ---------- */
	.checkboxChecked.medium{background-position:0 -88px;}
	.checkboxUnchecked.medium{background-position:-16px -88px;}
	.checkmark.medium{background-position:-32px -88px;}
	.document.medium{background-position:-48px -88px;}
	.key.medium{background-position:-64px -88px;}
	.pencil.medium{background-position:-80px -88px;}
	.picture.medium{background-position:-96px -88px;}
	.print.medium{background-position:-112px -88px;}
	.roundMinus.medium{background-position:-128px -88px;}
	.roundPlus.medium{background-position:-144px -88px;}
	.save.medium{background-position:-160px -88px;}
	.spechBubble.medium{background-position:-176px -88px;}
	.spechBubbleSq.medium{background-position:-192px -88px;}
	.trash.medium{background-position:-208px -88px;}
	.sqPlus.medium{background-position:-224px -88px;}
	.docLinesStright.medium{background-position:0px -104px;}
	.shopCart.medium{background-position:-16px -104px;}
	.cube.medium{background-position:-32px -104px;}
	.inbox.medium{background-position:-48px -104px;}
	.user.medium{background-position:-64px -104px;}
	.curDollar.medium{background-position:-80px -104px;}
	.shre.medium{background-position:-96px -104px;}
.blIcon{background:url("../img/ecdbSpriteV1.png") no-repeat 0 -168px;width:77px;height:25px;display:inline-block;border:none;margin-bottom:-8px;}
.packageImage{position:absolute;top:170px;right:115px;}
div#menu{width:870px;padding:0 8px;margin:auto;}
	div#menu ul{list-style:none;}
		div#menu ul li{list-style:none;display:inline-block;}
			div#menu ul li a{
				border-bottom:1px solid #dadada;
				text-shadow:0 1px 0 #fff;
				display:inline-block;
				color:#646464;
				font-size:12.3px;
				text-decoration:none;
				padding:7px 10px 7px 10px;
				background-color:#f8f8f8;
				background-image:-moz-linear-gradient(100% 100% 90deg, #e9e9e9, #f8f8f8);
				background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#e9e9e9));
				border-radius:4px 4px 0 0;
				-moz-border-radius:4px 4px 0 0;
				-webkit-border-top-left-radius:4px;
				-webkit-border-top-right-radius:4px;
			}
				div#menu ul li a:hover{background-image:none;background-color:#e6e6e6;}
				div#menu ul li a.selected{background-image:none;background-color:#fff;cursor:default;color:#000;border-bottom:1px solid #fff;}
			div#menu ul li.public a{
				border-bottom:1px solid #bbdbff;
				background-color:#d7eaff;
				background-image:-moz-linear-gradient(100% 100% 90deg, #d7eaff, #f8f8f8);
				background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#d7eaff));
			}
				div#menu ul li.public a:hover{background-image:none;background-color:#d7eaff;}
				div#menu ul li.public a.selected{background-image:none;background-color:#fff;border-bottom:1px solid #fff;}
			div#menu ul li.donate a{
				border-bottom:1px solid #8aea6f;
				background-color:#c9f5bc;
				background-image:-moz-linear-gradient(100% 100% 90deg, #c9f5bc, #f8f8f8);
				background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#c9f5bc));
			}
				div#menu ul li.donate a:hover{background-image:none;background-color:#c9f5bc;}
				div#menu ul li.donate a.selected{background-image:none;background-color:#fff;border-bottom:1px solid #fff;}
div.subMenu{text-align: left;border-bottom:3px dotted #f2f2f2;margin:0 0 10px 0;}
	div.subMenu ul{list-style:none;margin:0;padding:0 0 10px 0;}
		div.subMenu ul li{list-style:none;display:inline-block;margin-bottom: 5px;}
			div.subMenu ul li a{border:1px solid #beee9b;display:inline-block;font-size:12px;padding:3px 8px 3px 8px;background-color:#daf5c5;color:#fff;margin:0;text-decoration:none;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;}
				div.subMenu ul li a.selected{background-color:#468617;border:1px solid #468617;color:#fff;}
				div.subMenu ul li a:hover{cursor:default;}
				div.subMenu ul li a.isComponents{border:1px solid #4f971a;display:inline-block;font-size:12px;padding:3px 8px 3px 8px;background-color:#5fb61f;color:#fff;margin:0;text-decoration:none;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;}
					div.subMenu ul li a.isComponents:hover{cursor:pointer;background-color:#4a8d18;border:1px solid #3f7814;}
				
div.subSubMenu{border-bottom:3px dotted #f2f2f2;margin:0 0 10px 0;}
	div.subSubMenu ul{list-style:none;margin:0;padding:0 0 7px 0;text-align: left;}
		div.subSubMenu ul li{list-style:none;display:inline-block;margin-bottom: 8px;margin-top: 8px;}
			div.subSubMenu ul li a{border:1px solid #efefef;display:inline-block;font-size:12px;padding:3px 8px 3px 8px;background-color:#f9f9f9;color:#dddddd;margin:0;text-decoration:none;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;}
				div.subSubMenu ul li a.selected{background-color:#d1d1d1;border:1px solid #c1c1c1;color:#000;}
				div.subSubMenu ul li a:hover{cursor:default;}
				div.subSubMenu ul li a.isComponents{border:1px solid #dbdbdb;display:inline-block;font-size:12px;padding:3px 8px 3px 8px;background-color:#ebebeb;color:#626262;margin:0;text-decoration:none;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;}
					div.subSubMenu ul li a.isComponents:hover{cursor:pointer;background-color:#E0E0E0;}
				
.message{padding:15px;margin:0 0 20px;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;border:1px solid #fff;}
	/* Colors ---------- */
	.green.message{background-color:#c0f48c;border:1px solid #9fee51;}
	.red.message{background-color:#ffbbbb;border:1px solid #ff9797;}
	.orange.message{background-color:#fcd583;border:1px solid #fbc759;}
	.blue.message{background-color:#e8f7ff;border:1px solid #d9f1ff;}
	.white.message{background-color:#fff;border:1px solid #fff;}
	/* Align ---------- */
	.center.message{text-align:center;}
	.right.message{text-align:right;}
/* ------------- Main colors --------------- */
/*
	#1e68a6
	#f2f2f2
	#63bd20
	#666666
*/
*{margin: 0;padding: 0;}
	a{color: #1e68a6;text-decoration: none;}
		a:focus {outline: none;}
		a:hover{cursor:pointer;}
		a.sort{color:#666;text-decoration:underline;}
body{color: #000;margin:0;letter-spacing:0.2px;padding:0;border-top:10px solid #74839C;background-color:#f6f6f6;font: normal 12px "Century Gothic", arial, sans-serif;}
h1{font-size:16px;color:#333;font-weight:normal;padding:0 0 20px 0;}
h2{font-size:14px;color:#333;font-weight:normal;padding:0 0 20px 0;}
div#wrapper{padding:10px;width:900px;margin:auto;}
ul.error{list-style:none;}
div#content{background-color:#fff;position:relative;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;border-bottom:2px solid #ccc;width:870px;margin:0 auto 0 auto;padding:15px 15px 35px 15px;}
div#copyText{width:880px;font-size:11px;margin:10px auto 30px auto;padding:0 10px 0 10px;color:#444;height:50px;overflow:auto;line-height:20px;}
	div#copyText div.leftBox{float:left;height:50px;}
		div#copyText div.leftBox .stats{color:#7f7f7f;text-shadow:0 1px 0 #fff;}
	div#copyText div.rightBox{float:right;text-align:right;}

.totalSumWrapper{border-top:2px solid #444;padding:10px 0 0 0;font-size:16px;font-weight:bold;}
table.viewComponent{padding:10px 0 10px 0;}
	table.viewComponent tr{}
		table.viewComponent tr td{color:#777;height:25px;width:250px;}
			table.viewComponent tr td.what{font-weight:bold;color:#666;width:120px;}

div.aboutComponentHeader{overflow:auto;}
	div.componentComment{max-height:223px;width:420px;color:#444;overflow-x:hidden;overflow-y:auto;}
	
	div.componentGallery{float:right;width:430px;}
		div.componentGallery div.bigImage{overflow:auto;float:right;text-align:right;overflow:auto;}
			div.componentGallery div.bigImage img{border:2px solid #f2f2f2;max-width:158px;min-height:158px;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;}
			div.componentGallery div.bigImage div.componentNoImg{
				width:158px;
				text-align:center;
				line-height:90px;
				border:2px solid #e9e9e9;
				text-transform:uppercase;
				font-weight:bold;
				color:#888;
				font-size:14px;
				text-shadow:0 1px 0 #fff;
				background:url("/img/dataBackground.png") #f7f7f7;
				border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;
			}
	div.componentGallery div.smallImages{float:left;text-align:right;}
		div.componentGallery div.smallImages ul{list-style:none;}
			div.componentGallery div.smallImages ul li{line-height:0;list-style:none;margin:0 0 0 5px;display:inline-block;background-color:#fff;}
				div.componentGallery div.smallImages ul li img{border:2px solid #f2f2f2;max-height:58px;max-width:58px;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;}

div.componetInfo{margin:10px 0 0 0;border-top:3px dotted #f2f2f2;}

div.componentLog{background-color:#f9f9f9;border:4px dotted #f0f0f0;padding:15px;margin:15px 0 0 0;border-radius:2px;-moz-border-radius:2px;-wekit-border-radius:2px;}
	div.componentLog div.logs{}
	div.componentLog div.logsMenu{text-align:right;margin:10px 0;}
	div.compontntLog div.logsAll{display: none;}
.main_category{background-color:#d1e9ed;font-weight:bold;padding:2px;color:#000;}
#contact-wrapper {width:430px;border:1px solid #e2e2e2;background:#f1f1f1;padding:20px;}
	#contact-wrapper div {clear:both;margin:1em 0;}
		#contact-wrapper label {display:block;float:none;font-size:16px;width:auto;}
			form#contactform input {border-color:#B7B7B7 #E8E8E8 #E8E8E8 #B7B7B7;border-style:solid;border-width:1px;padding:5px;font-size:16px;color:#333;}
				form#contactform textarea {font-family:Arial, Tahoma, Helvetica, sans-serif;font-size:100%;padding:0.6em 0.5em 0.7em;border-color:#B7B7B7 #E8E8E8 #E8E8E8 #B7B7B7;border-style:solid;border-width:1px;}
div.loginWrapper{overflow:auto;}
div.loginWrapper div.left{float:left;width:620px; font-size: 13px;}
div.loginWrapper div.right{float:right;background:url("../img/indexBG.png") no-repeat center 0;width:240px;height:370px;}
div.loginWrapper div.aboutECDB{margin:0 0 60px 0;}
hr{background-color:#999999;border:0 none;height:1px;margin:10px 0px;}
.text{}
	.text.colorGray{color:#999;}
	.text.styleItalic{font-style:italic;}
	.text.fontSizeMedium{font-size:14px;}
	.boldText{font-weight:bold;}
